extends layout

block content
  header
    h1 Decision Support System
    p Decisions are hard. Let us help you. The Decision Support system allows you to evaluate your choices critically.
    //
      ul
        li Active: {{ activeFactor }}
        li Factors: {{ factors }}
        li Choices: {{ choices }}
        li Rankings: {{ rankings }}
        li Series: {{ series }}
        li Weighted; {{ weighted }}
        li Labels: {{ labels }}
  #wrap


    canvas(ng-hide="setup", id="pie", chart-legend="true", class="chart chart-pie", chart-data="series", chart-labels="labels") 
    
    button(ng-click="lookup()" ng-hide="setup || activeFactor") Load the average user's ratings for this decision

    ul(ng-hide="setup || activeFactor")
      li(ng-repeat="factor in factors")
        button(ng-click="selectFactor(factor.text)") Rate choices for {{ factor.text }}
      li   
        button(ng-click="toggleSetup()") Go back to choices or factors


    #factor(ng-if="activeFactor")
      h2 How would you rate "{{ activeFactor }}"?
      rzslider(rz-slider-model="weighted[activeFactor]", rz-slider-options="slider", class="slider")
      h2 In terms of {{ activeFactor }}, how do your choices measure up?
      div(ng-repeat="(choice, values) in rankings")
        h3 {{ choice }}
        rzslider(rz-slider-model="values[activeFactor]", rz-slider-options="slider", class="slider")
      button(ng-click="hideSliders()") Back to the list of factors.

    #setup(ng-if="setup && !activeFactor")
      #factors
        h2 Factors
        tags-input(ng-model="factors", replace-spaces-with-dashes="false", on-tag-added="addFactor($tag)", on-tag-removed="removeFactor($tag)")
          auto-complete(source="loadFactors($query)")
        p The most important part of the process is to identify the factors that influence your decision.
        p For instance, you may consider "Traffic," "Cost of Living," or any similar <i>factors</i> when making a decision on where to move.

      #choices
        h2 Choices
        tags-input(ng-model="choices", replace-spaces-with-dashes="false", on-tag-added="addChoice($tag)", on-tag-removed="removeChoice($tag)")
          auto-complete(source="loadChoices($query)")
        p The <i>choices</i> in your decision are simple words or phrases that represent each of the options you face in your decision-making process.
        p For example, if you are moving cities, your choices may be "Denver," "New York," etc.
      button(ng-click="toggleSetup()") Once you're done, click here to begin analyzing your decision.



  script(src="/javascripts/webapp.js")
  script(src="/ng-tags-input/ng-tags-input.min.js")
  script(src="/angularjs-slider/dist/rzslider.min.js")
  script(src="/Chart.js/Chart.js")
  script(src="/angular-chart.js/dist/angular-chart.js")
  link(rel="stylesheet", href="/angularjs-slider/dist/rzslider.css")
  link(rel="stylesheet", href="/angular-chart.js/dist/angular-chart.css")