doctype html
html
  head
    title Decision Support System
    meta(name="viewport", content=content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/ng-tags-input/ng-tags-input.min.css')
    script(src='/angular/angular.js')
  body(ng-app="decision" ng-controller="controller")
    block content
