doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/ng-tags-input/ng-tags-input.min.css')
    script(src='/angular/angular.js')
  body(ng-app="decision" ng-controller="controller")
    block content
