body {
  margin:5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
	width: 100%;
	background-color:white;
	border-radius:0px;
	padding:10px;
	border:1px solid black;
	margin-top:5px;
}
h2 {
	border-bottom:1px solid black;
}
li {
	list-style: none;
}
ul {
	margin:0px;
	padding:0px;
}